body {
  background-color: #EEE;
  color: #333;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 8px;
  width: 500px;
}

.avatar-image {
  border-radius: 3px;
}

.card {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  clear: both;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 8px;
}

.card.active {
  background-color: #FFF8C8;
}

.card:hover {
  background-color: #E7E7E7;
}

.card:last-child {
  margin-bottom: 0;
}

.color-black {
  color: #000;
}

.color-gray {
  color: #999;
}

.pull-left {
  float: left;
  margin-right: 10px;
}
